@import "/src/styles/colors.scss";

.button {
  height: 30px;
  background: $gray-dark;
  border-radius: 6px;

  &:hover {
    opacity: 0.6;
  }
}

.standart {
  width: 160px;
  padding: 0 10px;
}

.maxWidth {
  width: 100%;
}

.increased {
  height: 40px;
  background: $yellow;
}