@import '/src/styles/colors.scss';

.contain {
    background: $white;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 25px $shadow;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user {
  display: flex;

  img {
    margin-right: 15px;
  }
}

.userInfo {
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  padding-top: 3px;
}

.text {
  margin-top: 20px;
}