@import "/src/styles/colors.scss";
@import "/src/styles/breakpoints.scss";

.page {
  padding-bottom: 100px;
  background: $bg-layout;
}

.washSearch {
  display: flex;
  flex-flow: column nowrap;
  padding: 60px 150px 70px 150px;

  @media (max-width: $xl - 1) {
    padding: 60px 0 70px 0;
  }

  @media (max-width: $xl - 1) {
    padding: 15px 0 70px 0;
  }
}

.searchUpperBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;

  @media (max-width: $lg - 1) {
    padding: 0 30px;
  }

  @media (max-width: $xs - 1) {
    position: relative;
    flex-direction: column-reverse;
    align-items: flex-start;
    height: 100px;
    margin-bottom: 15px;
    padding: 0 15px;
  }
}

.searchBlock {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 12px;
  padding: 0 230px 0 30px;
  height: 65px;
  background-color: $gray-light;
  box-sizing: border-box;

  @media (max-width: $lg - 1) {
    padding-left: 21px;
    flex-direction: column;
    height: auto;
    padding: 15px;
    margin: 0;

    &:first-child {
      padding-bottom: 0;
    }

    &:last-child .blockStr {
      display: none;
    }
  }
}

.blockStr {
  width: 400px;

  @media (max-width: $lg - 1) {
    width: auto;
    margin-bottom: 15px;
  }
}

.innerBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $lg - 1) {
    flex-direction: column;
  }
}

.field {
  display: flex;
  align-items: center;
  width: 30%;

  img {
    margin-right: 10px;
  }

  @media (max-width: $lg - 1) {
    width: 100%;
    margin-bottom: 15px;
  }
}

.innerBlockDateInput {
  border-style: none;
  height: 30px;
  width: 100px;
  margin-left: 10px;
  border-radius: 6px;

  @media (max-width: $lg - 1) {
    margin-left: 0px;
  }

  @media (max-width: $xs - 1) {
    margin-left: 5px;
    margin-right: 15px;
  }
}

.innerBlockButton {
  position: absolute;
  font-size: 14px;
  padding: 7px 22px;
  right: 21px;
  width: 180px;

  @media (max-width: $lg - 1) {
    padding: 7px 11px;
    width: 100%;
    position: static;
  }

  @media (max-width: $sm - 1) {
    margin-left: 10px;
    padding: 7px 5px;
    height: 45px;
  }
}

.inner {
  width: 160px;

  @media (max-width: $xs - 1) {
    position: absolute;
    right: 15px;
    top: 0;
  }
}

.citySelect {
  width: 100%;
  display: flex;
  align-items: center;

  img {
    margin-right: 15px;
  }

  @media (min-width: $lg) {
  }
}

.section {
  padding: 0 150px;

  @media (max-width: $lg - 1) {
    padding: 0 30px;
  }

  @media (max-width: $xs - 1) {
    padding: 0 15px;
  }
}

.cityWashes {
  width: 100%;
}

.washList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px;
}

.nearestWash {
  display: flex;
  width: 180px;
  align-items: center;
  position: absolute;
  right: 21px;

  @media (min-width: $lg) {
    :global {
      .select {
        &__control {
          height: 30px;
          border-radius: 0;
          border: none;
          background: transparent;
        }

        &__indicator-separator {
          display: none;
        }

        &__dropdown-indicator {
          padding-top: 10px;

          svg {
            fill: $black;
          }
        }
      }
    }
  }

  @media (max-width: $lg - 1) {
    position: static;
    margin-top: 15px;
    width: 100%;
  }

  @media (max-width: $sm - 1) {
    bottom: -50px;
  }

  @media (max-width: $xs - 1) {
    bottom: auto;
  }
}

.nearestWashLink {
  margin-left: 14px;

  &:hover {
    text-decoration-line: underline;
  }
}
