$bg-light: #06623cdc;
$bg-gray: #54a181;
$bg-layout: #f1f6f4;

$gray-dark: #06623cef;
$gray: #c9c9c9;
$gray-light: #BAD4C6;

$green: #098550;
$green-menu: #E7F0EC;
$green-border: #BAD4C6;
$green-active: rgba(100, 157, 102, 0.1);

$white: #ffffff;
$black: #000000;
$shadow: rgba(6, 98, 59, 0.15);

$red: #f64747;
$red-error: #b51818;

$yellow: #f6d743;

