$bg-light: #919191;
$bg-gray: #C4C4C4;
$bg-layout: #eeeeee;

$gray-dark: #666666;
$gray: #c9c9c9;
$gray-light: #c4c4c4;

$white: #ffffff;
$black: #000000;
$shadow: rgba(6, 98, 59, 0.15);

$red: #f64747;
$red-error: #b51818;

$yellow: #f6d743;

